@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Tangerine:wght@400;700&display=swap");

:root {
  --desktop-header-height: 6.5rem;
  --mobile-header-height: 5rem;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #675447;
  height: 100%;
  font-family: "Tangerine", cursive;
  padding-top: var(--mobile-header-height);
  @media screen and (min-width: 600px) {
    padding-top: var(--desktop-header-height);
  }
}

p {
  font-size: 2rem;
  @media screen and (min-width: 600px) {
    font-size: 2.4rem;
  }
}

hr {
  margin: 4rem;
}

.inline-link {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.font-lg {
  font-size: 2.2rem;
  @media screen and (min-width: 600px) {
    font-size: 2.6rem;
  }
}
