.cover-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: "100%";
  padding: 2rem;
  background-position: "center center";
  background-repeat: "no-repeat";
  background-size: "cover";
  background-attachment: fixed;
  text-align: center;
  color: white;
  @media screen and (min-width: 600px) {
    padding: 5rem;
  }
}

.event-details {
  font-size: 6rem;
  margin: 0;
  margin-top: 2rem;
  span {
    font-size: 5rem;
    display: block;
    @media screen and (min-width: 600px) {
      font-size: 7rem;
      display: inline;
    }
  }
  &:last-of-type {
    margin-bottom: 7rem;
  }
}

.airbnb-link {
  display: block;
  width: 30rem;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
