.cover-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: "100%";
  padding: 2rem;
  background-position: "center center";
  background-repeat: "no-repeat";
  background-size: "cover";
  text-align: center;
  color: white;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  @media screen and (min-width: 600px) {
    padding: 5rem;
    height: 100vh;
  }
}

h1 {
  font-size: 8.5rem;
  line-height: 1;
  margin: 2rem 0;
  @media screen and (min-width: 600px) {
    font-size: 12.5rem;
    margin-bottom: 4rem;
  }
}

.event-details {
  font-size: 6rem;
  margin: 0;
  margin-top: 2rem;
  span {
    font-size: 5rem;
    display: block;
    @media screen and (min-width: 600px) {
      font-size: 7rem;
      display: inline;
    }
  }
  &:last-of-type {
    font-size: 6rem;
    margin-top: 5rem;
    @media screen and (min-width: 600px) {
      font-size: 8rem;
    }
  }
}
