.accommodation-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  max-width: 90%;
  height: 18em;
  margin: 3rem 0;
  padding: 2rem;
  background: rgba(#705c50, 85%);
  border-radius: 2rem;
  box-shadow: 0 0 3.5em rgba(0, 0, 0, 0.6);
  @media screen and (min-width: 600px) {
    margin: 3rem;
    height: 20rem;
  }
}

.accommodation-name,
.accommodation-promo {
  margin: 0;
}

.accommodation-name {
  font-size: 3rem;
  margin-bottom: auto;
}

.accommodation-promo {
  font-size: 1.8rem;
}

.accommodation-link {
  text-decoration: none;
  width: 18rem;
  padding: 1.5rem;
  background: #242a2c;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 1rem;
  margin-top: 1rem;
  transition: transform 0.5s ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
